div.dir-container
  div.dir-topic
    span 四大方向
  div.dir-content
    div.dir-block
      div.dir-pic
        img.back-pic(src="../../img/hou.png")
      div.dir-name
        span web后端
    div.dir-block
      div.dir-pic
        img.unity-pic(src="../../img/unity.png")
      div.dir-name
        span unity
    div.dir-block(style="clear:left")
      div.dir-pic
        img.ai-pic(src="../../img/ai.png")
      div.dir-name
        span AI
    div.dir-block
      div.dir-pic
        img.front-pic(src="../../img/front.png")
      div.dir-name
        span 前端及UI
  div.prize-topic
    span 获奖履历
