div.join-container
    div.join-topic 
        span 加入我们!
    div.join-display
        div.join-box1
            div.join-block1 
        div.join-box2
            div.join-block2 
            div.join-block3 