html {
  font-size: 50px;
}

.eav {
  height: 150px;
  width: 100%;
  background-color: #b4e1ee;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 9999;

  .eav-display {
    width: 650px;
    display: flex;
    justify-content: space-between;

    .eav-logo {
      width: 130px;
      height: 130px;
      padding: 10px;
      float: left;
      margin-left: 100px;
      cursor: pointer;
    }

    .eav-name {
      width: 250px;
      height: 100px;
      padding: 25px 20px;
      float: left;
      line-height: 100px;
      font-size: 1rem;
      ;
      cursor: pointer;
    }
  }

  .eav-container {
    width: 60%;
    float: right;
    height: 100px;
    margin: 25px 0;
    padding: 0 25px 0 0;

    .eav-list {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      height: 100px;
      line-height: 5px;

      .eav-content {
        list-style: none;
        color: #656464;
        font-size: 0.6rem;
        width: 20%;
        height: 30px;
        line-height: 0.2rem;
        cursor: pointer;
        position: relative;
        text-align: center;

        span {
          &:hover {
            color: #00ace8;
            font-size: 0.7rem;
            font-weight: bold;
            transition: all 0.3s;

            &::after {
              opacity: 1;
              transform: scale(1, 1);
            }
          }

          &::after {
            display: block;
            content: " ";
            height: 5px;
            width: 60%;
            position: absolute;
            bottom: -10px;
            left: 20%;
            background: #00ace8;
            opacity: 0;
            -webkit-transition: transform 0.4s ease-out, opacity 0.2s ease-out;
            transform-origin: 50% 0%;
            transform: scale(0.1, 1);

          }
        }

        .eav-box {
          list-style-type: none;
          display: none;
          width: 180px;
          height: 250px;
          padding: 0;
          margin: 0 15px;
          background-color: #b4e1ee;
          border-radius: 15px;
          position: absolute;
          left: 3px;
          top: 78px;
          text-align: center;
          z-index: 9;

          li {
            list-style-type: none;
            font-size: 0.5rem;
            color: #656464;
            cursor: pointer;
            height: 28px;
            margin: 0 25px;
            padding: 15px 0;
            line-height: 28px;
            border-bottom: 1px solid #656464;

            &:hover {
              color: #00ace8;
              cursor: pointer;
              font-size: 0.6rem;
              font-weight: bold;
              transition: all 0.3s;
              border-bottom: 1px solid #00ace8;
            }
          }
        }
      }

      .drop {
        &::after {
          content: "        ";
          display: block;
          height: 65px;
          width: 230px;

          &:hover span {
            color: #00ace8;
            font-size: 0.6rem;
            font-weight: bold;
            transition: all 0.3s;
          }
        }
      }

      .keep {
        &:hover {
          color: #00ace8;
          font-size: 30px;
          font-weight: bold;
          transition: all 0.3s;

          &::after {
            opacity: 1;
            transform: scale(1, 1);
          }
        }

        &::after {
          display: block;
          content: " ";
          height: 5px;
          width: 60%;
          position: absolute;
          bottom: -30px;
          left: 20%;
          background: #00ace8;
          opacity: 0;
          -webkit-transition: transform 0.4s ease-out, opacity 0.2s ease-out;
          transform-origin: 50% 0%;
          transform: scale(0.1, 1);
        }
      }
    }
  }
}
