div.prize-container
  div.prize-block
    div.prize-topic
      span 2020春微力实验室竞赛获奖
    div.prize-content
      span.prize-title 蓝桥杯个人赛
      p 17刘利（省二）
      p 17阳雷（省三）
      p 17张洁（省二）
      p 17徐鑫宇（省三）
      p 17杨仕雄（省三）
      p 17杨博文（省三）
      span.prize-title 蓝桥杯团队赛
      p 17杨博文 17杨仕雄（国三）
      span.prize-title 网页设计大赛 
      p 17张洁 18梁钧
      p 18施林龙 18尹慧（二等奖）
      span.prize-title 计算机设计赛
      p 17魏坤明（省二）
      span.prize-title 计算机作品赛
      p 17魏坤明（特等奖）
      p 17游建朝（一等）
      span.prize-title 中以黑客马拉松大赛
      p 17魏坤明 17阳雷
      p 17刘亭 18陈江洋（二等奖）
      span.prize-title 全国易班开发者大赛
      p 17杨博文 17游建朝
      p 17文曾（国三）
      span.prize-title ACM校选
      p 17刘利（三等）
  div.prize-block
    div.prize-topic
      span 2020秋微力实验室竞赛获奖
    div.prize-content
      span.prize-title 四川省ACM程序设计大赛
      p 18周望月 18吴顶峰
      p 18施林龙（省赛-铜奖）
      span.prize-title 全国大学生数学建模竞赛
      p 18赵潇然（省一）
      p 18万惊淼（省二）
      span.prize-title 蓝桥杯个人赛
      p 18陈江洋（省一 ）
      p 18张洋（省一）
      p 18周望月省一）
      p 18吴顶峰（省一）
      p 18施林龙（省一）
      p 18尹慧（省二）
      p 18万惊淼（省二）
      p 18向博（省二）
      p 18赵潇然（省三）
      p 19蒋一铭（省三）
      span.prize-title 计算机设计赛
      p 18陈江洋 18向博
      p 18张洋（国三）
      span.prize-title 计算机作品赛
      p 18陈江洋 18向博
      p 18张洋（省一）
      span.prize-title “认证杯”数学建模网络挑战赛
      p 18赵潇然（两个全国二等奖）
      span.prize-title 微信小程序开发赛西南赛区
      p 18向博（三等奖）
      span.prize-title 西华大学高数竞赛
      p 19陈润（校一）
  div.prize-line
  div.prize-block
    div.prize-topic
      span 2021春微力实验室竞赛获奖
    div.prize-content
      span.prize-title 蓝桥杯个人赛
      p 18陈江洋（国三）
      p 18尹慧（省二）
      p 19朱华帷（省三）
      p 19彭佳（省三）
      span.prize-title 电子商务三创
      p 19杨永顺（省二）
      span.prize-title 计算机设计赛
      p 18樊江涛 18吴顶峰
      p 18汪雨婷（省二）
      span.prize-title 西华大学校友杯
      p 20刘晓宇（校二）
  div.prize-block
    div.prize-topic
      span 2021秋微力实验室竞赛获奖
    div.prize-content
      span.prize-title 计算机能力挑战赛Java组
      p 20甘佳鑫（省三）
      p 20唐杨（省三）
      p 20张志（国二）
      span.prize-title 计算机能力挑战赛Python组
      p 19范洪瑞（国三）
      p 19陈润（国三）
      span.prize-title 西华大学2021年秋季创想杯
      p 20王星宇，20刘斌琰（二等奖）
      p 21赵琦，21邓钶骑（二等奖）
