.intro-container {
  width: 100%;
  height: 600px;
  background: linear-gradient(#132028,#172838);
  position: relative;
  top: -10px;
  z-index: 0;
  .intro-topic {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    height: 60px;
    font-size: 2.8rem;
    color: #cacaca;
    z-index: 0;
    padding: 50px 0;
    span {
      position: relative;
      &::after{
        content: '';
        position: absolute;
        top: 85px;
        left: 0;
        height: 10px;
        width: 14rem;
        background-color: #cacaca;
      }
    }
  }
  .intro-content {
    padding:50px 0 ;
    margin: 0 auto;
    width: 80%;
    height: 200px;
    font-size: 1.7rem;
    color: #cacaca;
  }
}
