div.intro-container
  div.intro-topic
    span 实验室简介
  div.intro-content
    span 微力实验室发展至今已有十周年了。微力实验室由2010级计算机学院软件工程系校友张天夫学长于2012年创立，并以VR (Virtual Reality，虚拟现实）和AR(Augmented Reality ,增强现实)技术创业，并于2013年创办成都微力互动科技有限公司，致力于为汽车、房地产、数字出版、互动营销、旅游、教育、游戏娱乐服装、医疗等行业提供增强现实整体解决方案及服务。实验室发展至今，已不仅是一个实验室，更多的是一个平台，一个提供编程开发、学习交流、技术分享、组建团队、创新创业的平台。于2013年成立，属于校企联合实验室。一路来，微力不断开拓创新，为学校培养了大批优秀人才，现已发展出了四大主流开发方向∶Web前端开发、Web后端开发、Unity/游戏开发、人工智能，作为各成员的技术主攻路线，展开技术学习和软件开发。微力发展至今作为一个提供编程开发、学习交流、技术分享、组建团队、创新创业的平台，正在卓越成长
