extends layout.pug

block header
    include ./home/eav/_eav.pug




block content
    include ./home/head-pic/_head-pic.pug
    include ./home/introduction/_intro.pug
    include ./home/direction/_dir.pug
    include ./home/prize/_prize.pug
